*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
!FoxFS_Src/**/*.lib
*.exe
*.out
*.app
*.pdb
*.ilk
*.exp
*.idb
*.iobj
*.ipdb
Debug/
Release/
x64/
x86/
build/
bin/
obj/
.vs/
*.ipch
*.db
*.user
*.suo
*.sdf
*.opensdf
*.db-shm
*.db-wal
*.log
*.cache
*.tmp
Thumbs.db
.DS_Store
/Client/pack
Client/lib/respdialop.pcl
Client/metin2.cfg
Client/lib/emoji.cfg
/Client/syserr/*.txt
/Files
Source/Binary/binary/Client.lnk
/Source/Binary/extern/include/boost
/Source/Binary/extern/include/rapidjson
Client/Metin2Release.map
