*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
!FoxFS_Src/**/*.lib
*.exe
*.out
*.app
*.pdb
*.ilk
*.exp
*.idb
*.iobj
*.ipdb
bin/
obj/
.vs/
*.ipch
*.db
*.user
*.suo
*.sdf
*.opensdf
*.db-shm
*.db-wal
*.log
*.cache
*.tmp
Thumbs.db
.DS_Store
/Client/pack
Client/lib/respdialop.pcl
Client/metin2.cfg
Client/lib/emoji.cfg
/Client/syserr/*.txt
/Files
/Source/Binary/binary/Client.lnk
Source/Binary/extern/include
Source/Binary/extern/include/boost
Source/Binary/extern/include/rapidjson
Source/Binary/extern/include/cryptopp/*.*
Client/Metin2Release.map
Client/Metin2Debug.bsc
Client/log.txt
Client/channel.inf
Tools/archiver/xml/root_create.xml
*.tlog
*.sbr
*.cod
*.recipe
*.depend
*.prb
Source/Binary/vs_files/CWebBrowser/Release
Source/Binary/vs_files/CWebBrowser/Debug
Source/Binary/vs_files/Discord/Release
Source/Binary/vs_files/Discord/Debug
Source/Binary/vs_files/EffectLib/Release
Source/Binary/vs_files/EffectLib/Debug
Source/Binary/vs_files/EterBase/Release
Source/Binary/vs_files/EterBase/Debug
Source/Binary/vs_files/EterGrnLib/Release
Source/Binary/vs_files/EterGrnLib/Debug
Source/Binary/vs_files/EterImageLib/Release
Source/Binary/vs_files/EterImageLib/Debug
Source/Binary/vs_files/EterLib/Release
Source/Binary/vs_files/EterLib/Debug
Source/Binary/vs_files/EterLocale/Release
Source/Binary/vs_files/EterLocale/Debug
Source/Binary/vs_files/EterPack/Release
Source/Binary/vs_files/EterPack/Debug
Source/Binary/vs_files/EterPythonLib/Release
Source/Binary/vs_files/EterPythonLib/Debug
Source/Binary/vs_files/GameLib/Release
Source/Binary/vs_files/GameLib/Debug
Source/Binary/vs_files/MilesLib/Release
Source/Binary/vs_files/MilesLib/Debug
Source/Binary/vs_files/ScriptLib/Release
Source/Binary/vs_files/ScriptLib/Debug
Source/Binary/vs_files/SpeedTreeLib/Release
Source/Binary/vs_files/SpeedTreeLib/Debug
Source/Binary/vs_files/SphereLib/Release
Source/Binary/vs_files/SphereLib/Debug
Source/Binary/vs_files/TerrainLib/Release
Source/Binary/vs_files/TerrainLib/Debug
Source/Binary/vs_files/UserInterface/Release
Source/Binary/vs_files/UserInterface/Debug
Source/jpeg-9d/Release
Source/FoxFS_Src/lz4/Debug
Source/FoxFS_Src/lz4/Release
Source/FoxFS_Src/lz4/x64/Debug
Source/FoxFS_Src/lz4/x64/Release
Source/FoxFS_Src/xxhash/Debug
Source/FoxFS_Src/xxhash/Release
Source/FoxFS_Src/xxhash/x64/Debug
Source/FoxFS_Src/xxhash/x64/Release
Source/FoxFS_Src/FoxFS/Debug
Source/FoxFS_Src/FoxFS/Release
Source/FoxFS_Src/FoxFS/x64/Debug
Source/FoxFS_Src/FoxFS/x64/Release
Source/FoxFS_Src/Extern/include/boost
Source/FoxFS_Src/FoxFSArchiver/Debug
Source/FoxFS_Src/FoxFSArchiver/Release
Source/FoxFS_Src/FoxFSArchiver/x64/Debug
Source/FoxFS_Src/FoxFSArchiver/x64/Release
Source/FoxFS_Src/FoxFSServer/Debug
Source/FoxFS_Src/FoxFSServer/Release
Source/FoxFS_Src/FoxFSServer/x64/Debug
Source/FoxFS_Src/FoxFSServer/x64/Release